html,body{
  /* Ensure body takes the whole viewport */
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  /* Specify viewport sizes to force react root-div to take whole viewport */
  width: 100vw;
  height: 100vh;
}

.sidepanelbtn {
  width: 18px;
  height: 30px;
  padding: 0;
  position: absolute;
  outline: none;
}

.sidepanelbtn svg {
  margin: auto;
}

.panelcontainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidepanel {
  height: 100%;
  width: 75px;
  max-width: 50%;
  min-width: 20px;
}

.imagepanel {
  height: 100%;
  width: auto;
  flex: 1;
}

h1 {
  margin: auto;
  text-align: center;
  height: 5%;
}

.imgviewercontainer {
  width: 100%;
  height: 95%;
}

.sidepanelfolderlist{
  margin-top: calc(30px + 5px);
  height: calc(100% - 30px - 5px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-font: #f6f6f6;
    --color-background: #2f2f2f;
    --color-selected: rgb(40, 40, 143);

    color: var(--color-font);
    background-color: var(--color-background);
  }
}
