.container {
  margin: auto;
  width: 92vw;
  height: 92vh;
}

h1 {
  text-align: center;
  height: 3%;
}

.imgviewercontainer {
  margin-top: 6.5%;
  height: 88%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}
