.imageview {
    --viewerbtn-width: 18px;
}

.imageview {
    display: flex; /* make img vertically centered */
    width: 100%;
    height: 100%;
    outline: none;
}

.viewerbtn {
    width: var(--viewerbtn-width);
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
}

.viewerbtn svg {
    margin: auto;
    color: #FFF;
}

.viewernoimage {
    width: calc(100% - 2 * var(--viewerbtn-width));
    margin: auto;
    text-align: center;
}

img {
    margin: auto; /* make img horizontally centered */
    max-width: calc(100% - 2 * var(--viewerbtn-width));
    max-height: 100%;
    object-fit: contain;
}
