.imageview {
    display: flex; /* make img vertically centered */
    width: 100%;
    height: 100%;
}

.viewerbtn {
    width: 2%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
}

.viewerbtn svg {
    margin: auto;
    color: #FFF;
}

img {
    margin: auto; /* make img horizontally centered */
    max-width: 96%;
    max-height: 100%;
    object-fit: contain;
}
