.resizablepanel-vars {
    --bar-size: 5px;
    --bar-hover-size: calc(var(--bar-size) + 3px);
}

.resizablepanel-content {
    width: calc(100% - var(--bar-hover-size));
    height: calc(100% - var(--bar-hover-size));
    float: left;
    overflow: clip;
}

.resizablepanel-vbar {
    height: 100%;
    width: var(--bar-size);
    background-color: rgb(24, 29, 29);
    float: right;
}

.resizablepanel-vbar:hover {
    width: var(--bar-hover-size);
    cursor: ew-resize;
}

.resizablepanel-hbar {
    position: relative;
    top: calc(100% - var(--bar-size));
    height: var(--bar-size);
    width: 100%;
    background-color: rgb(24, 29, 29);
}

.resizablepanel-hbar:hover {
    top: calc(100% - var(--bar-hover-size));
    height: var(--bar-hover-size);
    cursor: ns-resize;
}
